.expenses-filter {
    padding:  5px;
    background-color: rgb(240, 240, 198);
    border-radius: 10px;
    margin:  auto 1rem;
    width: max-content;
    border : 1px solid green;
  }
  
  .expenses-filter__control {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    margin: 1rem 0;
  }
  
  .expenses-filter label {
    font-weight: bold;
    margin: 0.5rem;
  }
  
  .expenses-filter select {
    font: inherit;
    padding: 0.5rem 3rem;
    font-weight: bold;
    border-radius: 6px;
  }